{% extends "base.html" %}

{% block title %}
Eternity | Playground
{% endblock %}

{% block main %}
<div class="min-h-full min-w-full flex items-center justify-center"
    style="background-image: url('/static/images/bg_playground.jpg'); background-size: cover; background-position: center;">
    <div class="w-full max-w-5xl mb-3 p-7 rounded-lg shadow-lg mx-auto bg-black bg-opacity-70">
        <h2 class="text-3xl font-bold text-center mb-8 text-white">Image Playground</h2>

        <!-- Uploader -->
        <div id="uploader"
            class="bg-gray-700 bg-opacity-75 p-6 rounded-lg mb-8 text-center cursor-pointer border-4 border-dashed border-gray-400">
            <input type="file" id="fileInput" class="hidden" accept=".jpeg,.jpg,.png,.bmp" />
            <p id="uploadText" class="text-white text-lg">Drag & drop an image here or click to upload</p>
        </div>

        <!-- Loader -->
        <div id="loader" class="loader text-center text-xl mb-8 text-white">Uploading...</div>

        <!-- Image Container -->
        <div class="image-container grid grid-cols-2 gap-8 mb-8">
            <div id="uploadedImage"
                class="bg-gray-700 bg-opacity-75 p-6 rounded-lg flex items-center justify-center h-56">
                <p class="text-white text-lg">No image uploaded yet.</p>
            </div>
            <div id="processedImage"
                class="bg-gray-700 bg-opacity-75 p-6 rounded-lg flex items-center justify-center h-56">
                <p class="text-white text-lg">No processed image yet.</p>
            </div>
        </div>

        <!-- Processing Actions and Generate Button Container -->
        <div class="flex justify-between items-center">
            <div class="relative inline-block text-left">
                <button type="button" id="dropdownButton"
                    class="flex items-center justify-between w-60 bg-green-300 border border-gray-300 text-black text-lg rounded-lg focus:border-blue-500 font-semibold p-2.5">
                    <span id="selectedOption">Select Transformation</span>
                    <svg class="w-6 h-6 text-black transform rotate-180" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>

                <div id="dropdownMenu"
                    class="absolute bottom-full mb-2 w-full bg-green-300 rounded-lg shadow-lg hidden max-h-44 overflow-y-auto">
                    <ul class="py-1 text-black text-base text-center">
                        <li class="cursor-pointer hover:bg-blue-600 hover:text-white px-4 py-2" data-value="bg_replace">
                            Background Replace</li>
                        <li class="cursor-pointer hover:bg-blue-600 hover:text-white px-4 py-2"
                            data-value="smart_cropping">
                            Smart Cropping</li>
                        <li class="cursor-pointer hover:bg-blue-600 hover:text-white px-4 py-2" data-value="ai_enhance">
                            AI Enhance</li>
                        <li class="cursor-pointer hover:bg-blue-600 hover:text-white px-4 py-2" data-value="gen_fill">
                            Generative Fill</li>
                        <li class="cursor-pointer hover:bg-blue-600 hover:text-white px-4 py-2" data-value="upscale">
                            Upscale</li>
                    </ul>
                </div>
            </div>

            <div id="genFillInputs" class="hidden items-center space-x-4">

                <label for="genFillAspectRatio" class="text-gray-300">Aspect Ratio</label>
                <input type="text" id="genFillAspectRatio"
                    class="bg-gray-700 border border-gray-600 text-white rounded-lg p-1 w-20 text-center focus:outline-none" />
            </div>

            <!-- Add the following code after the genFillInputs div -->
            <div id="backgroundReplaceInputs" class="hidden items-center space-x-4">
                <div class="flex space-x-4">
                    <div>
                        <label for="backgroundReplaceFrom" class="text-gray-300">From</label>
                        <input type="text" id="backgroundReplaceFrom" autocomplete="off"
                            class="bg-gray-700 border border-gray-600 text-white rounded-lg p-1 w-20 text-center focus:outline-none">
                    </div>
                    <div>
                        <label for="backgroundReplaceTo" class="text-gray-300">To</label>
                        <input type="text" id="backgroundReplaceTo" autocomplete="off"
                            class="bg-gray-700 border border-gray-600 text-white rounded-lg p-1 w-20 text-center focus:outline-none">
                    </div>
                </div>
            </div>

            <!-- Resize Inputs -->
            <div id="resizeInputs" class="hidden items-center space-x-4">
                <div>
                    <label for="resizeWidth" class="text-gray-300">Width</label>
                    <input type="text" id="resizeWidth" autocomplete="off"
                        class="bg-gray-700 border border-gray-600 text-white rounded-lg p-1 w-20 text-center focus:outline-none" />
                </div>
                <div>
                    <label for="resizeHeight" class="text-gray-300">Height</label>
                    <input type="text" id="resizeHeight" autocomplete="off"
                        class="bg-gray-700 border border-gray-600 text-white rounded-lg p-1 w-20 text-center focus:outline-none" />
                </div>
            </div>

            <button id="interactiveButton"
                class="w-48 bg-indigo-600 text-white px-4 py-2 rounded-lg shadow-md hover:bg-indigo-700 transition">Generate
                ✨</button>
        </div>
    </div>
</div>

<script src="/static/js/playground.js"></script>
{% endblock %}